.motoBox{
    box-sizing: border-box;
    padding: 1rem;
    width: 15rem;
    height: 21rem;
    background-color: white;
    border-radius: 1rem;
    line-height: 1.1;
}

.motoBox .motoBox-img{
    overflow: hidden;
}

.motoBox .motoBox-img img{
    width: 100%;
    margin-bottom: 0.5rem;
    transition: all .5s;
}
.motoBox .motoBox-title{
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.5rem;
}

.motoBox .motoBox-body{
    margin-top: 0.8rem;
    font-size: 0.7rem;
    line-height: 1.4;
    color: grey;
}

.motoBox-2{
    width: 18rem;
    height: 25rem;

}

.motoBox-2:hover  .motoBox-img img{
    transform: scale(1.1);
}

@media (max-width:1282px){
    .motoBox-2{
    width: 15rem !important;
    height: 23rem !important;

}
}

@media (max-width:1027px){
    .motoBox-2{
    width: 12rem !important;
    height: 20rem !important;

}
    .motoBox{
    box-sizing: border-box;
    padding: 0.5rem;
    width: 12rem;
    height: 18rem;
    background-color: white;
    border-radius: 1rem;
    line-height: 1.1;
}
.motoBox .motoBox-body{
    margin-top: 0.8rem;
    font-size: 0.6rem;
    line-height: 1.4;
    color: grey;
}
.motoBox .motoBox-title{
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.5rem;
}
}

@media (max-width:830px){
      .motoBox-2{
    width: 10.5rem !important;
    height: 18.5rem !important;

}
    .motoBox{
    box-sizing: border-box;
    padding: 0.5rem;
    width: 8rem;
    height: 15rem;
    background-color: white;
    border-radius: 1rem;
    line-height: 1.1;
}
.motoBox .motoBox-body{
    margin-top: 0.8rem;
    font-size: 0.6rem;
    line-height: 1.4;
    color: grey;
}
.motoBox .motoBox-title{
    font-size: 0.7rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.5rem;
}
}

@media(max-width:450px){
      .motoBox-2{
    width: 10.5rem !important;
    height: 15rem !important;

}
    .motoBox{
    box-sizing: border-box;
    padding: 0.5rem;
    width: 5.5rem;
    height: 10rem;
    background-color: white;
    border-radius: 0.5rem;
    line-height: 1.1;
}
.motoBox .motoBox-body{
    margin-top: 0.3rem;
    font-size: 0.45rem;
    line-height: 1;
    color: grey;
}
.motoBox .motoBox-title{
    font-size: 0.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.1rem;
}
}